openapi: 3.0.0
info:
  title: Probable Markets API
  description: |
    Comprehensive API for building prediction market applications.
    
    This specification covers two distinct services:
    1. **Market Public API**: For accessing events, markets, and tags (Public, no auth).
    2. **Orderbook API**: For trading, authentication, and user data (Requires L1 or L2 Auth).
  version: 1.0.0
  contact:
    name: Probable Markets
servers:
  - url: https://api.probable.markets
    description: Orderbook API (Trading, Auth, User Data)
  - url: https://market-api.probable.markets
    description: Market Public API (Events, Markets, Search)

tags:
  - name: Authentication
    description: User authentication and API key management
  - name: Events
    description: Market Public API - Event retrieval
  - name: Markets
    description: Market Public API - Market retrieval
  - name: Search
    description: Market Public API - Search functionality
  - name: Tags
    description: Market Public API - Tag management
  - name: Orders
    description: Orderbook API - Order management
  - name: Orderbook Data
    description: Orderbook API - Prices and books
  - name: Trades
    description: Trade history
  - name: User Data
    description: User activity and positions

components:
  securitySchemes:
    # Header definitions for custom auth
    ProbAddress:
      type: apiKey
      in: header
      name: prob_address
      description: EOA address (Externally Owned Account)
    ProbSignature:
      type: apiKey
      in: header
      name: prob_signature
      description: EIP-712 signature (L1) or HMAC signature (L2)
    ProbTimestamp:
      type: apiKey
      in: header
      name: prob_timestamp
      description: Unix timestamp
    ProbNonce:
      type: apiKey
      in: header
      name: prob_nonce
      description: Nonce from /auth/nonce (Required for L1)
    ProbApiKey:
      type: apiKey
      in: header
      name: prob_api_key
      description: API Key (Required for L2)
    ProbPassphrase:
      type: apiKey
      in: header
      name: prob_passphrase
      description: API Passphrase (Required for L2)
    ProbAccountType:
      type: apiKey
      in: header
      name: prob_account_type
      description: Optional. Set to 'eoa' for EOA flow.

  schemas:
    # --- Auth Schemas ---
    NonceResponse:
      type: object
      properties:
        nonce:
          type: string
        issuedAt:
          type: string
    
    LoginRequest:
      type: object
      required:
        - identity
        - message
        - signature
        - nonce
        - issuedAt
        - domain
      properties:
        identity:
          type: object
          properties:
            account:
              type: string
            namespace:
              type: string
            chainId:
              type: string
            address:
              type: string
        message:
          type: string
        signature:
          type: string
        nonce:
          type: string
        issuedAt:
          type: string
        domain:
          type: string

    ApiKeyResponse:
      type: object
      properties:
        apiKey:
          type: string
        secret:
          type: string
        passphrase:
          type: string

    # --- Order Schemas ---
    OrderDetails:
      type: object
      properties:
        salt:
          type: string
        maker:
          type: string
          description: Proxy wallet address or EOA
        signer:
          type: string
          description: EOA address
        taker:
          type: string
        tokenId:
          type: string
        makerAmount:
          type: string
        takerAmount:
          type: string
        side:
          type: string
          enum: [BUY, SELL]
        expiration:
          type: string
        nonce:
          type: string
        feeRateBps:
          type: string
        signatureType:
          type: integer
        signature:
          type: string

    PlaceOrderRequest:
      type: object
      required:
        - deferExec
        - order
        - owner
        - orderType
      properties:
        deferExec:
          type: boolean
        order:
          $ref: '#/components/schemas/OrderDetails'
        owner:
          type: string
          description: Proxy wallet address or EOA
        orderType:
          type: string
          enum: [GTC, IOC]

    OrderResponse:
      type: object
      properties:
        orderId:
          type: integer
        clientOrderId:
          type: string
        symbol:
          type: string
        side:
          type: string
        type:
          type: string
        status:
          type: string
        time:
          type: integer
        tokenId:
          type: string
    
    # --- Market/Event Schemas ---
    Event:
      type: object
      properties:
        id:
          type: string
        slug:
          type: string
        title:
          type: string
        status:
          type: string
        markets:
          type: array
          items:
            $ref: '#/components/schemas/Market'
        volume:
          type: number
    
    Market:
      type: object
      properties:
        id:
          type: string
        question:
          type: string
        market_slug:
          type: string
        outcomes:
          type: array
          items:
            type: string
        active:
          type: boolean
        closed:
          type: boolean
        clobTokenIds:
          type: array
          items:
            type: string

  security:
    - {} 

paths:
  # ==========================================
  # Authentication Endpoints (Orderbook API)
  # ==========================================
  /public/api/v1/auth/nonce:
    get:
      tags: [Authentication]
      summary: Generate Nonce
      description: Get a nonce for L1 authentication.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NonceResponse'

  /public/api/v1/auth/login:
    post:
      tags: [Authentication]
      summary: Login
      description: Authenticate a user with wallet signature.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful

  /public/api/v1/auth/logout:
    post:
      tags: [Authentication]
      summary: Logout
      responses:
        '200':
          description: Success

  /public/api/v1/auth/api-key/{chainId}:
    parameters:
      - in: path
        name: chainId
        required: true
        schema:
          type: integer
    post:
      tags: [Authentication]
      summary: Generate API Key
      description: Create a new API key. Requires L1 Authentication headers.
      security:
        - ProbAddress: []
          ProbSignature: []
          ProbTimestamp: []
          ProbNonce: []
      responses:
        '200':
          description: API Key created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
    get:
      tags: [Authentication]
      summary: Get API Key
      description: Retrieve existing API key info. Requires L1 Authentication headers.
      security:
        - ProbAddress: []
          ProbSignature: []
          ProbTimestamp: []
          ProbNonce: []
      responses:
        '200':
          description: API Key details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
    delete:
      tags: [Authentication]
      summary: Delete API Key
      description: Delete an API key. Requires L1 Authentication headers + API Key headers.
      security:
        - ProbAddress: []
          ProbSignature: []
          ProbTimestamp: []
          ProbApiKey: []
          ProbPassphrase: []
      responses:
        '200':
          description: API Key deleted

  /public/api/v1/auth/verify/l1:
    post:
      tags: [Authentication]
      summary: Verify L1 Headers
      security:
        - ProbAddress: []
          ProbSignature: []
          ProbTimestamp: []
          ProbNonce: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                chainId:
                  type: integer
      responses:
        '200':
          description: Verification result

  /public/api/v1/auth/verify/l2:
    post:
      tags: [Authentication]
      summary: Verify L2 Headers
      security:
        - ProbAddress: []
          ProbSignature: []
          ProbTimestamp: []
          ProbApiKey: []
          ProbPassphrase: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                chainId:
                  type: integer
                method:
                  type: string
                path:
                  type: string
                body:
                  type: object
      responses:
        '200':
          description: Verification result

  # ==========================================
  # Events API (Market Public API)
  # ==========================================
  /public/api/v1/events/:
    get:
      tags: [Events]
      summary: List All Events
      description: Get paginated list of events.
      parameters:
        - in: query
          name: page
          schema:
            type: integer
            default: 1
        - in: query
          name: limit
          schema:
            type: integer
            default: 20
        - in: query
          name: status
          schema:
            type: string
            enum: [active, closed, all]
        - in: query
          name: tag_id
          schema:
            oneOf:
              - type: integer
              - type: array
                items:
                  type: integer
        - in: query
          name: sort
          schema:
            type: string
      responses:
        '200':
          description: List of events
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Event'

  /public/api/v1/events/{id}:
    get:
      tags: [Events]
      summary: Get Event by ID
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Event details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'

  /public/api/v1/events/slug/{slug}:
    get:
      tags: [Events]
      summary: Get Event by Slug
      parameters:
        - in: path
          name: slug
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Event details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'

  /public/api/v1/events/{id}/tags:
    get:
      tags: [Events]
      summary: Get Tags for Event
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: List of tags

  # ==========================================
  # Markets API (Market Public API)
  # ==========================================
  /public/api/v1/markets/:
    get:
      tags: [Markets]
      summary: List All Markets
      parameters:
        - in: query
          name: page
          schema:
            type: integer
        - in: query
          name: active
          schema:
            type: boolean
        - in: query
          name: event_id
          schema:
            type: integer
      responses:
        '200':
          description: List of markets
          content:
            application/json:
              schema:
                type: object
                properties:
                  markets:
                    type: array
                    items:
                      $ref: '#/components/schemas/Market'
                  pagination:
                    type: object

  /public/api/v1/markets/{id}:
    get:
      tags: [Markets]
      summary: Get Market by ID
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Market details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Market'

  /public/api/v1/markets/polymarket/{polymarketId}:
    get:
      tags: [Markets]
      summary: Get Market by Polymarket ID
      parameters:
        - in: path
          name: polymarketId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Market details

  /public/api/v1/markets/bsc/{bscQuestionId}:
    get:
      tags: [Markets]
      summary: Get Market by BSC Question ID
      parameters:
        - in: path
          name: bscQuestionId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Market details

  # ==========================================
  # Search API
  # ==========================================
  /public/api/v1/public-search/:
    get:
      tags: [Search]
      summary: Search Events and Markets
      parameters:
        - in: query
          name: q
          required: true
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: integer
        - in: query
          name: events_tag
          schema:
            type: string
        - in: query
          name: optimized
          schema:
            type: boolean
      responses:
        '200':
          description: Search results

  # ==========================================
  # Tags API
  # ==========================================
  /public/api/v1/tags/:
    get:
      tags: [Tags]
      summary: List All Tags
      responses:
        '200':
          description: List of tags

  # ==========================================
  # Orders API (Orderbook API)
  # ==========================================
  /public/api/v1/order/{chainId}:
    post:
      tags: [Orders]
      summary: Place Order
      description: Create a new order. Requires L2 Authentication.
      parameters:
        - in: path
          name: chainId
          required: true
          schema:
            type: integer
      security:
        - ProbAddress: []
          ProbSignature: []
          ProbTimestamp: []
          ProbApiKey: []
          ProbPassphrase: []
          ProbAccountType: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaceOrderRequest'
      responses:
        '200':
          description: Order placed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'

  /public/api/v1/order/{chainId}/{orderId}:
    delete:
      tags: [Orders]
      summary: Cancel Order
      description: Cancel an order by ID. Requires L2 Authentication.
      parameters:
        - in: path
          name: chainId
          required: true
          schema:
            type: integer
        - in: path
          name: orderId
          required: true
          schema:
            type: string
        - in: query
          name: tokenId
          required: true
          schema:
            type: string
      security:
        - ProbAddress: []
          ProbSignature: []
          ProbTimestamp: []
          ProbApiKey: []
          ProbPassphrase: []
      responses:
        '200':
          description: Order canceled

  /public/api/v1/orders/{chainId}/{orderId}:
    get:
      tags: [Orders]
      summary: Get Order
      description: Retrieve order details. Requires L2 Authentication.
      parameters:
        - in: path
          name: chainId
          required: true
          schema:
            type: integer
        - in: path
          name: orderId
          required: true
          schema:
            type: string
        - in: query
          name: tokenId
          required: true
          schema:
            type: string
      security:
        - ProbAddress: []
          ProbSignature: []
          ProbTimestamp: []
          ProbApiKey: []
          ProbPassphrase: []
      responses:
        '200':
          description: Order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'

  /public/api/v1/orders/{chainId}/open:
    get:
      tags: [Orders]
      summary: Get Open Orders
      description: Retrieve all open orders for a user.
      parameters:
        - in: path
          name: chainId
          required: true
          schema:
            type: integer
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: page
          schema:
            type: integer
      security:
        - ProbAddress: []
          ProbSignature: []
          ProbTimestamp: []
          ProbApiKey: []
          ProbPassphrase: []
      responses:
        '200':
          description: List of open orders

  # ==========================================
  # Orderbook Data API
  # ==========================================
  /public/api/v1/price:
    get:
      tags: [Orderbook Data]
      summary: Get Price
      parameters:
        - in: query
          name: token_id
          required: true
          schema:
            type: string
        - in: query
          name: side
          required: true
          schema:
            type: string
            enum: [BUY, SELL]
      responses:
        '200':
          description: Current price

  /public/api/v1/prices:
    post:
      tags: [Orderbook Data]
      summary: Get Prices (Batch)
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  token_id:
                    type: string
                  side:
                    type: string
      responses:
        '200':
          description: Map of prices

  /public/api/v1/midpoint:
    get:
      tags: [Orderbook Data]
      summary: Get Midpoint
      parameters:
        - in: query
          name: token_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Midpoint price

  /public/api/v1/book:
    get:
      tags: [Orderbook Data]
      summary: Get Order Book
      parameters:
        - in: query
          name: token_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Complete order book
          content:
            application/json:
              schema:
                type: object
                properties:
                  bids:
                    type: array
                  asks:
                    type: array
                  market:
                    type: string

  /public/api/v1/prices-history:
    get:
      tags: [Orderbook Data]
      summary: Get Price History
      parameters:
        - in: query
          name: market
          required: true
          description: Asset ID
          schema:
            type: string
        - in: query
          name: interval
          schema:
            type: string
            enum: [max, 1m, 1h, 6h, 1d, 1w]
        - in: query
          name: startTs
          schema:
            type: integer
        - in: query
          name: endTs
          schema:
            type: integer
      responses:
        '200':
          description: History data

  # ==========================================
  # Trades API
  # ==========================================
  /public/api/v1/trade/{chainId}:
    get:
      tags: [Trades]
      summary: Get Trades (Authenticated)
      parameters:
        - in: path
          name: chainId
          required: true
          schema:
            type: integer
        - in: query
          name: tokenId
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: next_cursor
          schema:
            type: string
      security:
        - ProbAddress: []
          ProbSignature: []
          ProbTimestamp: []
          ProbApiKey: []
          ProbPassphrase: []
      responses:
        '200':
          description: User trades

  /public/api/v1/trades:
    get:
      tags: [Trades]
      summary: Get Public Trades
      parameters:
        - in: query
          name: user
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: side
          schema:
            type: string
      responses:
        '200':
          description: Public trades list

  # ==========================================
  # User Data API
  # ==========================================
  /public/api/v1/activity:
    get:
      tags: [User Data]
      summary: User Activity
      parameters:
        - in: query
          name: user
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
      responses:
        '200':
          description: User activity feed

  /public/api/v1/position/current:
    get:
      tags: [User Data]
      summary: Current Position
      parameters:
        - in: query
          name: user
          required: true
          schema:
            type: string
        - in: query
          name: eventId
          schema:
            type: integer
      responses:
        '200':
          description: Current positions

  /public/api/v1/pnl:
    get:
      tags: [User Data]
      summary: Profit and Loss
      parameters:
        - in: query
          name: user_address
          required: true
          schema:
            type: string
      responses:
        '200':
          description: P&L history