openapi: 3.0.3
info:
  title: Myriad Protocol API
  description: |
    Myriad Protocol API V2 Documentation.
    This document describes the REST API exposed by the Myriad Protocol API service.
    
    ### Authentication
    All endpoints (except health) require an API key.
    To obtain an API key, please reach out to the Myriad team.
    
    ### Rate Limiting
    50 requests/second per IP and/or API key.
    Response headers included:
    * `X-RateLimit-Limit`
    * `X-RateLimit-Remaining`
    * `X-RateLimit-Reset`
  version: 2.0.2
servers:
  - url: https://api-v2.myriadprotocol.com/
    description: Production Server
  - url: https://api-v2.staging.myriadprotocol.com/
    description: Staging Server
components:
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: x-api-key
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api_key
  schemas:
    Pagination:
      type: object
      properties:
        page:
          type: integer
          example: 1
        limit:
          type: integer
          example: 20
        total:
          type: integer
          example: 123
        totalPages:
          type: integer
          example: 7
        hasNext:
          type: boolean
          example: true
        hasPrev:
          type: boolean
          example: false
    Token:
      type: object
      properties:
        address:
          type: string
        symbol:
          type: string
        name:
          type: string
        decimals:
          type: integer
    OutcomeSummary:
      type: object
      properties:
        id:
          type: integer
          description: On-chain outcome ID
        title:
          type: string
        price:
          type: number
        shares:
          type: number
        imageUrl:
          type: string
    MarketSummary:
      type: object
      properties:
        id:
          type: string
          description: Blockchain market ID
        slug:
          type: string
        title:
          type: string
        description:
          type: string
        state:
          type: string
          enum: [open, closed, resolved]
        networkId:
          type: integer
        liquidity:
          type: number
        volume:
          type: number
        volume24h:
          type: number
        shares:
          type: number
        imageUrl:
          type: string
        expiresAt:
          type: string
          format: date-time
        topics:
          type: array
          items:
            type: string
        fees:
          type: object
    Question:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        expiresAt:
          type: string
          format: date-time
        marketCount:
          type: integer
        markets:
          type: array
          items:
            $ref: '#/components/schemas/MarketSummary'
        outcomes:
          type: array
          items:
            $ref: '#/components/schemas/OutcomeSummary'
    MarketDetail:
      allOf:
        - $ref: '#/components/schemas/MarketSummary'
        - type: object
          properties:
            resolvesAt:
              type: string
              format: date-time
            voided:
              type: boolean
            resolvedOutcomeId:
              type: integer
              nullable: true
            resolutionSource:
              type: string
            resolutionTitle:
              type: string
            token:
              $ref: '#/components/schemas/Token'
            bannerImageUrl:
              type: string
            ogImageUrl:
              type: string
            liquidityPrice:
              type: number
            users:
              type: integer
            featured:
              type: boolean
            featuredAt:
              type: string
              format: date-time
            inPlay:
              type: boolean
            inPlayStartsAt:
              type: string
              format: date-time
            perpetual:
              type: boolean
            moneyline:
              type: boolean
            topHolders:
              type: array
              items:
                type: object
            outcomes:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: integer
                  title:
                    type: string
                  price:
                    type: number
                  closingPrice:
                    type: number
                  priceChange24h:
                    type: number
                  shares:
                    type: number
                  sharesHeld:
                    type: number
                  holders:
                    type: integer
                  imageUrl:
                    type: string
                  price_charts:
                    type: object
                    description: Historical price buckets (24h, 7d, 30d, all)
    Event:
      type: object
      properties:
        user:
          type: string
          description: Wallet address
        action:
          type: string
          enum: [buy, sell, add_liquidity, remove_liquidity, claim_winnings, claim_liquidity, claim_fees, claim_voided]
        marketTitle:
          type: string
        marketSlug:
          type: string
        marketId:
          type: string
        networkId:
          type: integer
        outcomeTitle:
          type: string
        outcomeId:
          type: integer
        imageUrl:
          type: string
        shares:
          type: number
        value:
          type: number
        timestamp:
          type: integer
          description: Unix seconds
        blockNumber:
          type: integer
        token:
          type: string
          description: ERC20 token address
    Referral:
      type: object
      properties:
        user:
          type: string
          description: Wallet address
        action:
          type: string
          enum: [buy, sell]
        marketTitle:
          type: string
        marketSlug:
          type: string
        marketId:
          type: string
        networkId:
          type: integer
        outcomeTitle:
          type: string
        outcomeId:
          type: integer
        imageUrl:
          type: string
        value:
          type: number
        timestamp:
          type: integer
        blockNumber:
          type: integer
        token:
          type: string
        code:
          type: string
        fees:
          type: object
          properties:
            lp:
              type: number
            treasury:
              type: number
            distributor:
              type: number
    QuoteResponse:
      type: object
      properties:
        value:
          type: number
        shares:
          type: number
        shares_threshold:
          type: number
        price_average:
          type: number
        price_before:
          type: number
        price_after:
          type: number
        calldata:
          type: string
        net_amount:
          type: number
        fees:
          type: object
          properties:
            treasury:
              type: number
            distributor:
              type: number
            fee:
              type: number
            frontend:
              type: number
              description: Only present if fee was requested in quote_with_fee
        approval:
          type: object
          description: Only present in quote_with_fee response
          properties:
            required:
              type: boolean
            currentAllowanceWei:
              type: string
            requiredAllowanceWei:
              type: string

security:
  - ApiKeyHeader: []
  - ApiKeyQuery: []

paths:
  /questions:
    get:
      summary: List Questions
      description: Returns a paginated list of questions, where a question is a canonical proposition independent of chain.
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: keyword
          in: query
          description: Search in question title
          schema:
            type: string
        - name: min_markets
          in: query
          description: Minimum number of linked markets
          schema:
            type: integer
        - name: max_markets
          in: query
          description: Maximum number of linked markets
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Question'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /questions/{id}:
    get:
      summary: Get Question Details
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Question'

  /markets:
    get:
      summary: List Markets
      description: |
        Paginated list of markets with filtering and sorting.
        
        **Fee Filters:**
        You can filter markets by protocol fees using specific query parameter patterns.
        Components: `lp`, `dt`, `tr`, or `total` (implicit).
        Pattern: `{action}_{component}_fee_{operator}` or `{action}_fee_{operator}`.
        Operators: `lt`, `lte`, `gt`, `gte`, `eq`.
        
        Examples: `buy_lp_fee_lte=0.01`, `sell_fee_lt=0.02`.
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: sort
          in: query
          schema:
            type: string
            enum: [volume, volume_24h, liquidity, expires_at, published_at, featured]
            default: volume
        - name: order
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - name: network_id
          in: query
          description: Comma-separated list of network ids
          schema:
            type: string
        - name: state
          in: query
          schema:
            type: string
            enum: [open, closed, resolved, voided]
        - name: trading_model
          in: query
          description: Filter markets by trading model (e.g. CLOB, AMM)
          schema:
            type: string
        - name: token_address
          in: query
          schema:
            type: string
        - name: topics
          in: query
          description: Comma-separated list of topics
          schema:
            type: string
        - name: keyword
          in: query
          description: Full-text search across title, description, and outcome titles
          schema:
            type: string
        - name: ids
          in: query
          description: Comma-separated list of on-chain market ids
          schema:
            type: string
        - name: in_play
          in: query
          schema:
            type: boolean
        - name: moneyline
          in: query
          schema:
            type: boolean
        - name: min_duration
          in: query
          description: Minimum market duration in seconds
          schema:
            type: integer
        - name: max_duration
          in: query
          description: Maximum market duration in seconds
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MarketDetail'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /markets/{id}:
    get:
      summary: Get Market Details
      description: |
        Get a single market by slug or by marketId + network_id.
        If using marketId, the `network_id` query param is required.
      parameters:
        - name: id
          in: path
          required: true
          description: Market slug OR Market ID
          schema:
            type: string
        - name: network_id
          in: query
          description: Required if 'id' in path is a numeric Market ID
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketDetail'

  /markets/{id}/events:
    get:
      summary: Get Market Events
      parameters:
        - name: id
          in: path
          required: true
          description: Market slug OR Market ID
          schema:
            type: string
        - name: network_id
          in: query
          description: Required if 'id' in path is a numeric Market ID
          schema:
            type: integer
        - name: page
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
        - name: since
          in: query
          description: Unix seconds (inclusive)
          schema:
            type: integer
        - name: until
          in: query
          description: Unix seconds (inclusive)
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /markets/{id}/referrals:
    get:
      summary: Get Market Referrals
      parameters:
        - name: id
          in: path
          required: true
          description: Market slug OR Market ID
          schema:
            type: string
        - name: network_id
          in: query
          description: Required if 'id' in path is a numeric Market ID
          schema:
            type: integer
        - name: page
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
        - name: since
          in: query
          schema:
            type: integer
        - name: until
          in: query
          schema:
            type: integer
        - name: code
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Referral'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /markets/{id}/holders:
    get:
      summary: Get Market Holders
      description: Market holders grouped by outcome. Pagination limit applies per outcome.
      parameters:
        - name: id
          in: path
          required: true
          description: Market slug OR Market ID
          schema:
            type: string
        - name: network_id
          in: query
          description: Required if 'id' in path is a numeric Market ID
          schema:
            type: integer
        - name: page
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        outcomeId:
                          type: number
                        outcomeTitle:
                          type: string
                          nullable: true
                        totalHolders:
                          type: integer
                        holders:
                          type: array
                          items:
                            type: object
                            properties:
                              user:
                                type: string
                              shares:
                                type: number
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /markets/quote:
    post:
      summary: Get Trade Quote
      description: Get a trade quote and transaction calldata for a specific market outcome.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [outcome_id, action]
              properties:
                market_id:
                  type: integer
                  description: Required if market_slug is not provided (must include network_id)
                network_id:
                  type: integer
                  description: Required if market_id is provided
                market_slug:
                  type: string
                  description: Required if market_id is not provided
                outcome_id:
                  type: integer
                action:
                  type: string
                  enum: [buy, sell]
                value:
                  type: number
                  description: Amount of tokens to spend (buy) or receive (sell). Provide exactly one of value or shares.
                shares:
                  type: number
                  description: Number of shares to buy or sell. Provide exactly one of value or shares.
                slippage:
                  type: number
                  default: 0.005
                  minimum: 0
                  maximum: 1
      responses:
        '200':
          description: Quote generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteResponse'
        '400':
          description: Invalid parameters, unsupported network, etc.

  /markets/quote_with_fee:
    post:
      summary: Get Trade Quote with Frontend Fee
      description: |
        Get a trade quote plus EIP-5792 bundled calls to charge a frontend fee. 
        Requires whitelisting.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [outcome_id, action, fee, from_wallet, to_wallet]
              properties:
                market_id:
                  type: integer
                network_id:
                  type: integer
                market_slug:
                  type: string
                outcome_id:
                  type: integer
                action:
                  type: string
                  enum: [buy, sell]
                value:
                  type: number
                shares:
                  type: number
                slippage:
                  type: number
                fee:
                  type: number
                  description: Decimal fee rate (0 to 0.05)
                from_wallet:
                  type: string
                  description: Wallet signing the bundle
                to_wallet:
                  type: string
                  description: Fee recipient wallet
      responses:
        '200':
          description: Quote with fee generated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/QuoteResponse'
                  - type: object
                    properties:
                      calldata:
                        type: object
                        description: EIP-5792 object
                        properties:
                          version:
                            type: string
                          from:
                            type: string
                          chainId:
                            type: string
                          atomicRequired:
                            type: boolean
                          calls:
                            type: array
                            items:
                              type: object
                              properties:
                                to:
                                  type: string
                                data:
                                  type: string
                                value:
                                  type: string

  /markets/claim:
    post:
      summary: Get Claim Quote
      description: Get a trade claim and transaction calldata for a specific market.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                market_id:
                  type: integer
                network_id:
                  type: integer
                market_slug:
                  type: string
                outcome_id:
                  type: integer
                  description: Optional, only required when market is voided
      responses:
        '200':
          description: Claim calldata generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  action:
                    type: string
                    enum: [claim_winnings, claim_voided]
                  outcome_id:
                    type: integer
                  calldata:
                    type: string

  /users/{address}/events:
    get:
      summary: Get User Events
      parameters:
        - name: address
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
        - name: market_id
          in: query
          schema:
            type: string
        - name: market_slug
          in: query
          schema:
            type: string
        - name: network_id
          in: query
          schema:
            type: integer
        - name: since
          in: query
          schema:
            type: integer
        - name: until
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /users/{address}/referrals:
    get:
      summary: Get User Referrals
      parameters:
        - name: address
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
        - name: market_id
          in: query
          schema:
            type: string
        - name: market_slug
          in: query
          schema:
            type: string
        - name: network_id
          in: query
          schema:
            type: integer
        - name: since
          in: query
          schema:
            type: integer
        - name: until
          in: query
          schema:
            type: integer
        - name: code
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Referral'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /users/{address}/portfolio:
    get:
      summary: Get User Portfolio
      description: Aggregated user positions per market/outcome/network.
      parameters:
        - name: address
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
        - name: min_shares
          in: query
          description: Default 0.1
          schema:
            type: number
        - name: market_slug
          in: query
          schema:
            type: string
        - name: market_id
          in: query
          schema:
            type: string
        - name: network_id
          in: query
          schema:
            type: integer
        - name: token_address
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        marketId:
                          type: string
                        outcomeId:
                          type: integer
                        networkId:
                          type: integer
                        imageUrl:
                          type: string
                        shares:
                          type: number
                        price:
                          type: number
                        value:
                          type: number
                        profit:
                          type: number
                        roi:
                          type: number
                          nullable: true
                        winningsToClaim:
                          type: boolean
                        winningsClaimed:
                          type: boolean
                        status:
                          type: string
                          enum: [ongoing, lost, won, claimed, sold]
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /users/{address}/markets:
    get:
      summary: Get User Markets Portfolio
      description: Portfolio view aggregated by markets.
      parameters:
        - name: address
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
        - name: min_shares
          in: query
          schema:
            type: number
        - name: network_id
          in: query
          schema:
            type: integer
        - name: state
          in: query
          schema:
            type: string
        - name: trading_model
          in: query
          description: Filter portfolio results by trading model (e.g. CLOB, AMM)
          schema:
            type: string
        - name: token_address
          in: query
          schema:
            type: string
        - name: topics
          in: query
          schema:
            type: string
        - name: keyword
          in: query
          schema:
            type: string
        - name: market_ids
          in: query
          description: Comma-separated list of {networkId}:{marketId} pairs
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        market:
                          $ref: '#/components/schemas/MarketDetail'
                        portfolio:
                          type: object
                          properties:
                            positions:
                              type: array
                              items:
                                type: object
                                properties:
                                  marketId:
                                    type: string
                                  marketTitle:
                                    type: string
                                  marketSlug:
                                    type: string
                                  imageUrl:
                                    type: string
                                  networkId:
                                    type: integer
                                  token:
                                    $ref: '#/components/schemas/Token'
                                  outcomeId:
                                    type: integer
                                  outcomeTitle:
                                    type: string
                                  shares:
                                    type: number
                                  price:
                                    type: number
                                  value:
                                    type: number
                                  profit:
                                    type: number
                                  roi:
                                    type: number
                                  winningsToClaim:
                                    type: boolean
                                  winningsClaimed:
                                    type: boolean
                                  voidedWinningsToClaim:
                                    type: boolean
                                  voidedWinningsClaimed:
                                    type: boolean
                                  status:
                                    type: string
                            liquidity:
                              type: object
                              properties:
                                shares:
                                  type: number
                                price:
                                  type: number
                                value:
                                  type: number
                                totalAdded:
                                  type: number
                                totalRemoved:
                                  type: number
                                totalClaimed:
                                  type: number
                                totalToClaim:
                                  type: number
                                feesClaimed:
                                  type: number
                  pagination:
                    $ref: '#/components/schemas/Pagination'