{
  "openapi": "3.0.0",
  "info": {
    "title": "PMXT Hosted API",
    "description": "One API for every prediction market. Cross-venue search in under 10ms, a single unified schema, and the complete venue surface from reads to trades.",
    "version": "2.35.4"
  },
  "servers": [
    {
      "url": "https://api.pmxt.dev",
      "description": "Hosted PMXT (production)"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Server Health Check",
        "operationId": "healthCheck",
        "responses": {
          "200": {
            "description": "Server is consistent and running.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "timestamp": {
                      "type": "integer",
                      "format": "int64"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/{exchange}/loadMarkets": {
      "post": {
        "summary": "Load Markets",
        "operationId": "loadMarkets",
        "parameters": [
          {
            "$ref": "#/components/parameters/ExchangeParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "LoadMarketsRequest",
                "type": "object",
                "properties": {
                  "args": {
                    "type": "array",
                    "maxItems": 1,
                    "items": {
                      "type": "boolean"
                    }
                  },
                  "credentials": {
                    "$ref": "#/components/schemas/ExchangeCredentials"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Load Markets response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": {
                            "$ref": "#/components/schemas/UnifiedMarket"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Load and cache all markets from the exchange into `this.markets` and `this.marketsBySlug`. Subsequent calls return the cached result without hitting the API again. This is the correct way to paginate or iterate over markets without drift. Because `fetchMarkets()` always hits the API, repeated calls with different `offset` values may return inconsistent results if the exchange reorders or adds markets between requests. Use `loadMarkets()` once to get a stable snapshot, then paginate over `Object.values(exchange.markets)` locally.",
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Polymarket",
            "source": "import pmxt\n\nexchange = pmxt.Polymarket(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    api_secret=\"YOUR_API_SECRET\",\n    passphrase=\"YOUR_PASSPHRASE\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n    proxy_address=\"YOUR_PROXY_ADDRESS\",\n    signature_type=\"gnosis-safe\",\n)\nresult = exchange.load_markets()"
          },
          {
            "lang": "python",
            "label": "Limitless",
            "source": "import pmxt\n\nexchange = pmxt.Limitless(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    api_secret=\"YOUR_API_SECRET\",\n    passphrase=\"YOUR_PASSPHRASE\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.load_markets()"
          },
          {
            "lang": "python",
            "label": "Kalshi",
            "source": "import pmxt\n\nexchange = pmxt.Kalshi(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.load_markets()"
          },
          {
            "lang": "python",
            "label": "KalshiDemo",
            "source": "import pmxt\n\nexchange = pmxt.KalshiDemo(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.load_markets()"
          },
          {
            "lang": "python",
            "label": "Probable",
            "source": "import pmxt\n\nexchange = pmxt.Probable(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    api_secret=\"YOUR_API_SECRET\",\n    passphrase=\"YOUR_PASSPHRASE\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.load_markets()"
          },
          {
            "lang": "python",
            "label": "Baozi",
            "source": "import pmxt\n\nexchange = pmxt.Baozi(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.load_markets()"
          },
          {
            "lang": "python",
            "label": "Myriad",
            "source": "import pmxt\n\nexchange = pmxt.Myriad(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    wallet_address=\"YOUR_WALLET_ADDRESS\",\n)\nresult = exchange.load_markets()"
          },
          {
            "lang": "python",
            "label": "Opinion",
            "source": "import pmxt\n\nexchange = pmxt.Opinion(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n    proxy_address=\"YOUR_PROXY_ADDRESS\",\n)\nresult = exchange.load_markets()"
          },
          {
            "lang": "python",
            "label": "Metaculus",
            "source": "import pmxt\n\nexchange = pmxt.Metaculus(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_token=\"YOUR_API_TOKEN\",\n)\nresult = exchange.load_markets()"
          },
          {
            "lang": "python",
            "label": "Smarkets",
            "source": "import pmxt\n\nexchange = pmxt.Smarkets(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.load_markets()"
          },
          {
            "lang": "python",
            "label": "PolymarketUs",
            "source": "import pmxt\n\nexchange = pmxt.PolymarketUs(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.load_markets()"
          },
          {
            "lang": "python",
            "label": "Router",
            "source": "import pmxt\n\nexchange = pmxt.Router(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n)\nresult = exchange.load_markets()"
          },
          {
            "lang": "javascript",
            "label": "Polymarket",
            "source": "import { Polymarket } from \"pmxtjs\";\n\nconst exchange = new Polymarket({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  apiSecret: \"YOUR_API_SECRET\",\n  passphrase: \"YOUR_PASSPHRASE\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n  proxyAddress: \"YOUR_PROXY_ADDRESS\",\n  signatureType: \"gnosis-safe\",\n});\nconst result = await exchange.loadMarkets();"
          },
          {
            "lang": "javascript",
            "label": "Limitless",
            "source": "import { Limitless } from \"pmxtjs\";\n\nconst exchange = new Limitless({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  apiSecret: \"YOUR_API_SECRET\",\n  passphrase: \"YOUR_PASSPHRASE\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.loadMarkets();"
          },
          {
            "lang": "javascript",
            "label": "Kalshi",
            "source": "import { Kalshi } from \"pmxtjs\";\n\nconst exchange = new Kalshi({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.loadMarkets();"
          },
          {
            "lang": "javascript",
            "label": "KalshiDemo",
            "source": "import { KalshiDemo } from \"pmxtjs\";\n\nconst exchange = new KalshiDemo({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.loadMarkets();"
          },
          {
            "lang": "javascript",
            "label": "Probable",
            "source": "import { Probable } from \"pmxtjs\";\n\nconst exchange = new Probable({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  apiSecret: \"YOUR_API_SECRET\",\n  passphrase: \"YOUR_PASSPHRASE\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.loadMarkets();"
          },
          {
            "lang": "javascript",
            "label": "Baozi",
            "source": "import { Baozi } from \"pmxtjs\";\n\nconst exchange = new Baozi({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.loadMarkets();"
          },
          {
            "lang": "javascript",
            "label": "Myriad",
            "source": "import { Myriad } from \"pmxtjs\";\n\nconst exchange = new Myriad({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  walletAddress: \"YOUR_WALLET_ADDRESS\",\n});\nconst result = await exchange.loadMarkets();"
          },
          {
            "lang": "javascript",
            "label": "Opinion",
            "source": "import { Opinion } from \"pmxtjs\";\n\nconst exchange = new Opinion({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n  proxyAddress: \"YOUR_PROXY_ADDRESS\",\n});\nconst result = await exchange.loadMarkets();"
          },
          {
            "lang": "javascript",
            "label": "Metaculus",
            "source": "import { Metaculus } from \"pmxtjs\";\n\nconst exchange = new Metaculus({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiToken: \"YOUR_API_TOKEN\",\n});\nconst result = await exchange.loadMarkets();"
          },
          {
            "lang": "javascript",
            "label": "Smarkets",
            "source": "import { Smarkets } from \"pmxtjs\";\n\nconst exchange = new Smarkets({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.loadMarkets();"
          },
          {
            "lang": "javascript",
            "label": "PolymarketUs",
            "source": "import { PolymarketUs } from \"pmxtjs\";\n\nconst exchange = new PolymarketUs({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.loadMarkets();"
          },
          {
            "lang": "javascript",
            "label": "Router",
            "source": "import { Router } from \"pmxtjs\";\n\nconst exchange = new Router({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n});\nconst result = await exchange.loadMarkets();"
          }
        ]
      }
    },
    "/api/{exchange}/fetchMarkets": {
      "get": {
        "summary": "Fetch Markets",
        "operationId": "fetchMarkets",
        "parameters": [
          {
            "$ref": "#/components/parameters/ExchangeParam"
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Maximum number of results to return"
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Pagination offset — number of results to skip"
          },
          {
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "volume",
                "liquidity",
                "newest"
              ]
            },
            "description": "Sort order for results"
          },
          {
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive",
                "closed",
                "all"
              ]
            },
            "description": "Filter by market status (default: 'active', 'inactive' and 'closed' are interchangeable)"
          },
          {
            "in": "query",
            "name": "searchIn",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "title",
                "description",
                "both"
              ]
            },
            "description": "Where to search (default: 'title')"
          },
          {
            "in": "query",
            "name": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "For keyword search"
          },
          {
            "in": "query",
            "name": "slug",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "For slug/ticker lookup"
          },
          {
            "in": "query",
            "name": "marketId",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Direct lookup by market ID"
          },
          {
            "in": "query",
            "name": "outcomeId",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Reverse lookup -- find market containing this outcome"
          },
          {
            "in": "query",
            "name": "eventId",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Find markets belonging to an event"
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "For pagination (used by Limitless)"
          },
          {
            "in": "query",
            "name": "similarityThreshold",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "For semantic search (used by Limitless)"
          }
        ],
        "responses": {
          "200": {
            "description": "Fetch Markets response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/UnifiedMarket"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Fetch markets with optional filtering, search, or slug lookup. Always hits the exchange API — results reflect the live state at the time of the call.",
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Polymarket",
            "source": "import pmxt\n\nexchange = pmxt.Polymarket(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    api_secret=\"YOUR_API_SECRET\",\n    passphrase=\"YOUR_PASSPHRASE\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n    proxy_address=\"YOUR_PROXY_ADDRESS\",\n    signature_type=\"gnosis-safe\",\n)\nresult = exchange.fetch_markets(\n    limit=10,\n    offset=0,\n    sort=\"volume\",\n    status=\"active\",\n    search_in=\"title\",\n    query=\"election\",\n    slug=\"BTC-USD\",\n    market_id=\"12345\",\n    outcome_id=\"67890\",\n    event_id=\"12345\",\n    page=1,\n    similarity_threshold=1,\n)"
          },
          {
            "lang": "python",
            "label": "Limitless",
            "source": "import pmxt\n\nexchange = pmxt.Limitless(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    api_secret=\"YOUR_API_SECRET\",\n    passphrase=\"YOUR_PASSPHRASE\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_markets(\n    limit=10,\n    offset=0,\n    sort=\"volume\",\n    status=\"active\",\n    search_in=\"title\",\n    query=\"election\",\n    slug=\"BTC-USD\",\n    market_id=\"12345\",\n    outcome_id=\"67890\",\n    event_id=\"12345\",\n    page=1,\n    similarity_threshold=1,\n)"
          },
          {
            "lang": "python",
            "label": "Kalshi",
            "source": "import pmxt\n\nexchange = pmxt.Kalshi(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_markets(\n    limit=10,\n    offset=0,\n    sort=\"volume\",\n    status=\"active\",\n    search_in=\"title\",\n    query=\"election\",\n    slug=\"BTC-USD\",\n    market_id=\"12345\",\n    outcome_id=\"67890\",\n    event_id=\"12345\",\n    page=1,\n    similarity_threshold=1,\n)"
          },
          {
            "lang": "python",
            "label": "KalshiDemo",
            "source": "import pmxt\n\nexchange = pmxt.KalshiDemo(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_markets(\n    limit=10,\n    offset=0,\n    sort=\"volume\",\n    status=\"active\",\n    search_in=\"title\",\n    query=\"election\",\n    slug=\"BTC-USD\",\n    market_id=\"12345\",\n    outcome_id=\"67890\",\n    event_id=\"12345\",\n    page=1,\n    similarity_threshold=1,\n)"
          },
          {
            "lang": "python",
            "label": "Probable",
            "source": "import pmxt\n\nexchange = pmxt.Probable(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    api_secret=\"YOUR_API_SECRET\",\n    passphrase=\"YOUR_PASSPHRASE\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_markets(\n    limit=10,\n    offset=0,\n    sort=\"volume\",\n    status=\"active\",\n    search_in=\"title\",\n    query=\"election\",\n    slug=\"BTC-USD\",\n    market_id=\"12345\",\n    outcome_id=\"67890\",\n    event_id=\"12345\",\n    page=1,\n    similarity_threshold=1,\n)"
          },
          {
            "lang": "python",
            "label": "Baozi",
            "source": "import pmxt\n\nexchange = pmxt.Baozi(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_markets(\n    limit=10,\n    offset=0,\n    sort=\"volume\",\n    status=\"active\",\n    search_in=\"title\",\n    query=\"election\",\n    slug=\"BTC-USD\",\n    market_id=\"12345\",\n    outcome_id=\"67890\",\n    event_id=\"12345\",\n    page=1,\n    similarity_threshold=1,\n)"
          },
          {
            "lang": "python",
            "label": "Myriad",
            "source": "import pmxt\n\nexchange = pmxt.Myriad(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    wallet_address=\"YOUR_WALLET_ADDRESS\",\n)\nresult = exchange.fetch_markets(\n    limit=10,\n    offset=0,\n    sort=\"volume\",\n    status=\"active\",\n    search_in=\"title\",\n    query=\"election\",\n    slug=\"BTC-USD\",\n    market_id=\"12345\",\n    outcome_id=\"67890\",\n    event_id=\"12345\",\n    page=1,\n    similarity_threshold=1,\n)"
          },
          {
            "lang": "python",
            "label": "Opinion",
            "source": "import pmxt\n\nexchange = pmxt.Opinion(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n    proxy_address=\"YOUR_PROXY_ADDRESS\",\n)\nresult = exchange.fetch_markets(\n    limit=10,\n    offset=0,\n    sort=\"volume\",\n    status=\"active\",\n    search_in=\"title\",\n    query=\"election\",\n    slug=\"BTC-USD\",\n    market_id=\"12345\",\n    outcome_id=\"67890\",\n    event_id=\"12345\",\n    page=1,\n    similarity_threshold=1,\n)"
          },
          {
            "lang": "python",
            "label": "Metaculus",
            "source": "import pmxt\n\nexchange = pmxt.Metaculus(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_token=\"YOUR_API_TOKEN\",\n)\nresult = exchange.fetch_markets(\n    limit=10,\n    offset=0,\n    sort=\"volume\",\n    status=\"active\",\n    search_in=\"title\",\n    query=\"election\",\n    slug=\"BTC-USD\",\n    market_id=\"12345\",\n    outcome_id=\"67890\",\n    event_id=\"12345\",\n    page=1,\n    similarity_threshold=1,\n)"
          },
          {
            "lang": "python",
            "label": "Smarkets",
            "source": "import pmxt\n\nexchange = pmxt.Smarkets(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_markets(\n    limit=10,\n    offset=0,\n    sort=\"volume\",\n    status=\"active\",\n    search_in=\"title\",\n    query=\"election\",\n    slug=\"BTC-USD\",\n    market_id=\"12345\",\n    outcome_id=\"67890\",\n    event_id=\"12345\",\n    page=1,\n    similarity_threshold=1,\n)"
          },
          {
            "lang": "python",
            "label": "PolymarketUs",
            "source": "import pmxt\n\nexchange = pmxt.PolymarketUs(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_markets(\n    limit=10,\n    offset=0,\n    sort=\"volume\",\n    status=\"active\",\n    search_in=\"title\",\n    query=\"election\",\n    slug=\"BTC-USD\",\n    market_id=\"12345\",\n    outcome_id=\"67890\",\n    event_id=\"12345\",\n    page=1,\n    similarity_threshold=1,\n)"
          },
          {
            "lang": "python",
            "label": "Router",
            "source": "import pmxt\n\nexchange = pmxt.Router(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n)\nresult = exchange.fetch_markets(\n    limit=10,\n    offset=0,\n    sort=\"volume\",\n    status=\"active\",\n    search_in=\"title\",\n    query=\"election\",\n    slug=\"BTC-USD\",\n    market_id=\"12345\",\n    outcome_id=\"67890\",\n    event_id=\"12345\",\n    page=1,\n    similarity_threshold=1,\n)"
          },
          {
            "lang": "javascript",
            "label": "Polymarket",
            "source": "import { Polymarket } from \"pmxtjs\";\n\nconst exchange = new Polymarket({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  apiSecret: \"YOUR_API_SECRET\",\n  passphrase: \"YOUR_PASSPHRASE\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n  proxyAddress: \"YOUR_PROXY_ADDRESS\",\n  signatureType: \"gnosis-safe\",\n});\nconst result = await exchange.fetchMarkets({\n  limit: 10,\n  offset: 0,\n  sort: \"volume\",\n  status: \"active\",\n  searchIn: \"title\",\n  query: \"election\",\n  slug: \"BTC-USD\",\n  marketId: \"12345\",\n  outcomeId: \"67890\",\n  eventId: \"12345\",\n  page: 1,\n  similarityThreshold: 1,\n});"
          },
          {
            "lang": "javascript",
            "label": "Limitless",
            "source": "import { Limitless } from \"pmxtjs\";\n\nconst exchange = new Limitless({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  apiSecret: \"YOUR_API_SECRET\",\n  passphrase: \"YOUR_PASSPHRASE\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchMarkets({\n  limit: 10,\n  offset: 0,\n  sort: \"volume\",\n  status: \"active\",\n  searchIn: \"title\",\n  query: \"election\",\n  slug: \"BTC-USD\",\n  marketId: \"12345\",\n  outcomeId: \"67890\",\n  eventId: \"12345\",\n  page: 1,\n  similarityThreshold: 1,\n});"
          },
          {
            "lang": "javascript",
            "label": "Kalshi",
            "source": "import { Kalshi } from \"pmxtjs\";\n\nconst exchange = new Kalshi({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchMarkets({\n  limit: 10,\n  offset: 0,\n  sort: \"volume\",\n  status: \"active\",\n  searchIn: \"title\",\n  query: \"election\",\n  slug: \"BTC-USD\",\n  marketId: \"12345\",\n  outcomeId: \"67890\",\n  eventId: \"12345\",\n  page: 1,\n  similarityThreshold: 1,\n});"
          },
          {
            "lang": "javascript",
            "label": "KalshiDemo",
            "source": "import { KalshiDemo } from \"pmxtjs\";\n\nconst exchange = new KalshiDemo({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchMarkets({\n  limit: 10,\n  offset: 0,\n  sort: \"volume\",\n  status: \"active\",\n  searchIn: \"title\",\n  query: \"election\",\n  slug: \"BTC-USD\",\n  marketId: \"12345\",\n  outcomeId: \"67890\",\n  eventId: \"12345\",\n  page: 1,\n  similarityThreshold: 1,\n});"
          },
          {
            "lang": "javascript",
            "label": "Probable",
            "source": "import { Probable } from \"pmxtjs\";\n\nconst exchange = new Probable({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  apiSecret: \"YOUR_API_SECRET\",\n  passphrase: \"YOUR_PASSPHRASE\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchMarkets({\n  limit: 10,\n  offset: 0,\n  sort: \"volume\",\n  status: \"active\",\n  searchIn: \"title\",\n  query: \"election\",\n  slug: \"BTC-USD\",\n  marketId: \"12345\",\n  outcomeId: \"67890\",\n  eventId: \"12345\",\n  page: 1,\n  similarityThreshold: 1,\n});"
          },
          {
            "lang": "javascript",
            "label": "Baozi",
            "source": "import { Baozi } from \"pmxtjs\";\n\nconst exchange = new Baozi({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchMarkets({\n  limit: 10,\n  offset: 0,\n  sort: \"volume\",\n  status: \"active\",\n  searchIn: \"title\",\n  query: \"election\",\n  slug: \"BTC-USD\",\n  marketId: \"12345\",\n  outcomeId: \"67890\",\n  eventId: \"12345\",\n  page: 1,\n  similarityThreshold: 1,\n});"
          },
          {
            "lang": "javascript",
            "label": "Myriad",
            "source": "import { Myriad } from \"pmxtjs\";\n\nconst exchange = new Myriad({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  walletAddress: \"YOUR_WALLET_ADDRESS\",\n});\nconst result = await exchange.fetchMarkets({\n  limit: 10,\n  offset: 0,\n  sort: \"volume\",\n  status: \"active\",\n  searchIn: \"title\",\n  query: \"election\",\n  slug: \"BTC-USD\",\n  marketId: \"12345\",\n  outcomeId: \"67890\",\n  eventId: \"12345\",\n  page: 1,\n  similarityThreshold: 1,\n});"
          },
          {
            "lang": "javascript",
            "label": "Opinion",
            "source": "import { Opinion } from \"pmxtjs\";\n\nconst exchange = new Opinion({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n  proxyAddress: \"YOUR_PROXY_ADDRESS\",\n});\nconst result = await exchange.fetchMarkets({\n  limit: 10,\n  offset: 0,\n  sort: \"volume\",\n  status: \"active\",\n  searchIn: \"title\",\n  query: \"election\",\n  slug: \"BTC-USD\",\n  marketId: \"12345\",\n  outcomeId: \"67890\",\n  eventId: \"12345\",\n  page: 1,\n  similarityThreshold: 1,\n});"
          },
          {
            "lang": "javascript",
            "label": "Metaculus",
            "source": "import { Metaculus } from \"pmxtjs\";\n\nconst exchange = new Metaculus({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiToken: \"YOUR_API_TOKEN\",\n});\nconst result = await exchange.fetchMarkets({\n  limit: 10,\n  offset: 0,\n  sort: \"volume\",\n  status: \"active\",\n  searchIn: \"title\",\n  query: \"election\",\n  slug: \"BTC-USD\",\n  marketId: \"12345\",\n  outcomeId: \"67890\",\n  eventId: \"12345\",\n  page: 1,\n  similarityThreshold: 1,\n});"
          },
          {
            "lang": "javascript",
            "label": "Smarkets",
            "source": "import { Smarkets } from \"pmxtjs\";\n\nconst exchange = new Smarkets({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchMarkets({\n  limit: 10,\n  offset: 0,\n  sort: \"volume\",\n  status: \"active\",\n  searchIn: \"title\",\n  query: \"election\",\n  slug: \"BTC-USD\",\n  marketId: \"12345\",\n  outcomeId: \"67890\",\n  eventId: \"12345\",\n  page: 1,\n  similarityThreshold: 1,\n});"
          },
          {
            "lang": "javascript",
            "label": "PolymarketUs",
            "source": "import { PolymarketUs } from \"pmxtjs\";\n\nconst exchange = new PolymarketUs({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchMarkets({\n  limit: 10,\n  offset: 0,\n  sort: \"volume\",\n  status: \"active\",\n  searchIn: \"title\",\n  query: \"election\",\n  slug: \"BTC-USD\",\n  marketId: \"12345\",\n  outcomeId: \"67890\",\n  eventId: \"12345\",\n  page: 1,\n  similarityThreshold: 1,\n});"
          },
          {
            "lang": "javascript",
            "label": "Router",
            "source": "import { Router } from \"pmxtjs\";\n\nconst exchange = new Router({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n});\nconst result = await exchange.fetchMarkets({\n  limit: 10,\n  offset: 0,\n  sort: \"volume\",\n  status: \"active\",\n  searchIn: \"title\",\n  query: \"election\",\n  slug: \"BTC-USD\",\n  marketId: \"12345\",\n  outcomeId: \"67890\",\n  eventId: \"12345\",\n  page: 1,\n  similarityThreshold: 1,\n});"
          }
        ]
      }
    },
    "/api/{exchange}/fetchMarketsPaginated": {
      "get": {
        "summary": "Fetch Markets Paginated",
        "operationId": "fetchMarketsPaginated",
        "parameters": [
          {
            "$ref": "#/components/parameters/ExchangeParam"
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/MarketFilterCriteria"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetch Markets Paginated response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PaginatedMarketsResult"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Fetch markets with cursor-based pagination backed by a stable in-memory snapshot. On the first call (or when no cursor is supplied), fetches all markets once and caches them. Subsequent calls with a cursor returned from a previous call slice directly from the cached snapshot — no additional API calls are made. The snapshot is invalidated after `snapshotTTL` ms (configured via `ExchangeOptions` in the constructor). A request using a cursor from an expired snapshot throws `'Cursor has expired'`.",
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Polymarket",
            "source": "import pmxt\n\nexchange = pmxt.Polymarket(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    api_secret=\"YOUR_API_SECRET\",\n    passphrase=\"YOUR_PASSPHRASE\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n    proxy_address=\"YOUR_PROXY_ADDRESS\",\n    signature_type=\"gnosis-safe\",\n)\nresult = exchange.fetch_markets_paginated(\n    limit=10,\n    cursor=\"abc123\",\n    filter=\"value\",\n)"
          },
          {
            "lang": "python",
            "label": "Limitless",
            "source": "import pmxt\n\nexchange = pmxt.Limitless(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    api_secret=\"YOUR_API_SECRET\",\n    passphrase=\"YOUR_PASSPHRASE\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_markets_paginated(\n    limit=10,\n    cursor=\"abc123\",\n    filter=\"value\",\n)"
          },
          {
            "lang": "python",
            "label": "Kalshi",
            "source": "import pmxt\n\nexchange = pmxt.Kalshi(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_markets_paginated(\n    limit=10,\n    cursor=\"abc123\",\n    filter=\"value\",\n)"
          },
          {
            "lang": "python",
            "label": "KalshiDemo",
            "source": "import pmxt\n\nexchange = pmxt.KalshiDemo(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_markets_paginated(\n    limit=10,\n    cursor=\"abc123\",\n    filter=\"value\",\n)"
          },
          {
            "lang": "python",
            "label": "Probable",
            "source": "import pmxt\n\nexchange = pmxt.Probable(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    api_secret=\"YOUR_API_SECRET\",\n    passphrase=\"YOUR_PASSPHRASE\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_markets_paginated(\n    limit=10,\n    cursor=\"abc123\",\n    filter=\"value\",\n)"
          },
          {
            "lang": "python",
            "label": "Baozi",
            "source": "import pmxt\n\nexchange = pmxt.Baozi(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_markets_paginated(\n    limit=10,\n    cursor=\"abc123\",\n    filter=\"value\",\n)"
          },
          {
            "lang": "python",
            "label": "Myriad",
            "source": "import pmxt\n\nexchange = pmxt.Myriad(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    wallet_address=\"YOUR_WALLET_ADDRESS\",\n)\nresult = exchange.fetch_markets_paginated(\n    limit=10,\n    cursor=\"abc123\",\n    filter=\"value\",\n)"
          },
          {
            "lang": "python",
            "label": "Opinion",
            "source": "import pmxt\n\nexchange = pmxt.Opinion(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n    proxy_address=\"YOUR_PROXY_ADDRESS\",\n)\nresult = exchange.fetch_markets_paginated(\n    limit=10,\n    cursor=\"abc123\",\n    filter=\"value\",\n)"
          },
          {
            "lang": "python",
            "label": "Metaculus",
            "source": "import pmxt\n\nexchange = pmxt.Metaculus(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_token=\"YOUR_API_TOKEN\",\n)\nresult = exchange.fetch_markets_paginated(\n    limit=10,\n    cursor=\"abc123\",\n    filter=\"value\",\n)"
          },
          {
            "lang": "python",
            "label": "Smarkets",
            "source": "import pmxt\n\nexchange = pmxt.Smarkets(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_markets_paginated(\n    limit=10,\n    cursor=\"abc123\",\n    filter=\"value\",\n)"
          },
          {
            "lang": "python",
            "label": "PolymarketUs",
            "source": "import pmxt\n\nexchange = pmxt.PolymarketUs(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_markets_paginated(\n    limit=10,\n    cursor=\"abc123\",\n    filter=\"value\",\n)"
          },
          {
            "lang": "python",
            "label": "Router",
            "source": "import pmxt\n\nexchange = pmxt.Router(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n)\nresult = exchange.fetch_markets_paginated(\n    limit=10,\n    cursor=\"abc123\",\n    filter=\"value\",\n)"
          },
          {
            "lang": "javascript",
            "label": "Polymarket",
            "source": "import { Polymarket } from \"pmxtjs\";\n\nconst exchange = new Polymarket({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  apiSecret: \"YOUR_API_SECRET\",\n  passphrase: \"YOUR_PASSPHRASE\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n  proxyAddress: \"YOUR_PROXY_ADDRESS\",\n  signatureType: \"gnosis-safe\",\n});\nconst result = await exchange.fetchMarketsPaginated({\n  limit: 10,\n  cursor: \"abc123\",\n  filter: \"value\",\n});"
          },
          {
            "lang": "javascript",
            "label": "Limitless",
            "source": "import { Limitless } from \"pmxtjs\";\n\nconst exchange = new Limitless({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  apiSecret: \"YOUR_API_SECRET\",\n  passphrase: \"YOUR_PASSPHRASE\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchMarketsPaginated({\n  limit: 10,\n  cursor: \"abc123\",\n  filter: \"value\",\n});"
          },
          {
            "lang": "javascript",
            "label": "Kalshi",
            "source": "import { Kalshi } from \"pmxtjs\";\n\nconst exchange = new Kalshi({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchMarketsPaginated({\n  limit: 10,\n  cursor: \"abc123\",\n  filter: \"value\",\n});"
          },
          {
            "lang": "javascript",
            "label": "KalshiDemo",
            "source": "import { KalshiDemo } from \"pmxtjs\";\n\nconst exchange = new KalshiDemo({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchMarketsPaginated({\n  limit: 10,\n  cursor: \"abc123\",\n  filter: \"value\",\n});"
          },
          {
            "lang": "javascript",
            "label": "Probable",
            "source": "import { Probable } from \"pmxtjs\";\n\nconst exchange = new Probable({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  apiSecret: \"YOUR_API_SECRET\",\n  passphrase: \"YOUR_PASSPHRASE\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchMarketsPaginated({\n  limit: 10,\n  cursor: \"abc123\",\n  filter: \"value\",\n});"
          },
          {
            "lang": "javascript",
            "label": "Baozi",
            "source": "import { Baozi } from \"pmxtjs\";\n\nconst exchange = new Baozi({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchMarketsPaginated({\n  limit: 10,\n  cursor: \"abc123\",\n  filter: \"value\",\n});"
          },
          {
            "lang": "javascript",
            "label": "Myriad",
            "source": "import { Myriad } from \"pmxtjs\";\n\nconst exchange = new Myriad({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  walletAddress: \"YOUR_WALLET_ADDRESS\",\n});\nconst result = await exchange.fetchMarketsPaginated({\n  limit: 10,\n  cursor: \"abc123\",\n  filter: \"value\",\n});"
          },
          {
            "lang": "javascript",
            "label": "Opinion",
            "source": "import { Opinion } from \"pmxtjs\";\n\nconst exchange = new Opinion({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n  proxyAddress: \"YOUR_PROXY_ADDRESS\",\n});\nconst result = await exchange.fetchMarketsPaginated({\n  limit: 10,\n  cursor: \"abc123\",\n  filter: \"value\",\n});"
          },
          {
            "lang": "javascript",
            "label": "Metaculus",
            "source": "import { Metaculus } from \"pmxtjs\";\n\nconst exchange = new Metaculus({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiToken: \"YOUR_API_TOKEN\",\n});\nconst result = await exchange.fetchMarketsPaginated({\n  limit: 10,\n  cursor: \"abc123\",\n  filter: \"value\",\n});"
          },
          {
            "lang": "javascript",
            "label": "Smarkets",
            "source": "import { Smarkets } from \"pmxtjs\";\n\nconst exchange = new Smarkets({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchMarketsPaginated({\n  limit: 10,\n  cursor: \"abc123\",\n  filter: \"value\",\n});"
          },
          {
            "lang": "javascript",
            "label": "PolymarketUs",
            "source": "import { PolymarketUs } from \"pmxtjs\";\n\nconst exchange = new PolymarketUs({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchMarketsPaginated({\n  limit: 10,\n  cursor: \"abc123\",\n  filter: \"value\",\n});"
          },
          {
            "lang": "javascript",
            "label": "Router",
            "source": "import { Router } from \"pmxtjs\";\n\nconst exchange = new Router({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n});\nconst result = await exchange.fetchMarketsPaginated({\n  limit: 10,\n  cursor: \"abc123\",\n  filter: \"value\",\n});"
          }
        ]
      }
    },
    "/api/{exchange}/fetchEventsPaginated": {
      "get": {
        "summary": "Fetch Events Paginated",
        "operationId": "fetchEventsPaginated",
        "parameters": [
          {
            "$ref": "#/components/parameters/ExchangeParam"
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/EventFilterCriteria"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fetch Events Paginated response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PaginatedEventsResult"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Paginated variant of {@link fetchEvents}. On the first call (no `cursor`), all events are fetched from the exchange and cached in an in-memory snapshot. A cursor is returned along with the first page. Subsequent calls with that cursor serve additional pages directly from the cached snapshot -- no additional API calls are made. The snapshot is invalidated after `snapshotTTL` ms (configured via `ExchangeOptions` in the constructor). A request using a cursor from an expired snapshot throws `'Cursor has expired'`.",
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Polymarket",
            "source": "import pmxt\n\nexchange = pmxt.Polymarket(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    api_secret=\"YOUR_API_SECRET\",\n    passphrase=\"YOUR_PASSPHRASE\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n    proxy_address=\"YOUR_PROXY_ADDRESS\",\n    signature_type=\"gnosis-safe\",\n)\nresult = exchange.fetch_events_paginated(\n    limit=10,\n    cursor=\"abc123\",\n    filter=\"value\",\n)"
          },
          {
            "lang": "python",
            "label": "Limitless",
            "source": "import pmxt\n\nexchange = pmxt.Limitless(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    api_secret=\"YOUR_API_SECRET\",\n    passphrase=\"YOUR_PASSPHRASE\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_events_paginated(\n    limit=10,\n    cursor=\"abc123\",\n    filter=\"value\",\n)"
          },
          {
            "lang": "python",
            "label": "Kalshi",
            "source": "import pmxt\n\nexchange = pmxt.Kalshi(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_events_paginated(\n    limit=10,\n    cursor=\"abc123\",\n    filter=\"value\",\n)"
          },
          {
            "lang": "python",
            "label": "KalshiDemo",
            "source": "import pmxt\n\nexchange = pmxt.KalshiDemo(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_events_paginated(\n    limit=10,\n    cursor=\"abc123\",\n    filter=\"value\",\n)"
          },
          {
            "lang": "python",
            "label": "Probable",
            "source": "import pmxt\n\nexchange = pmxt.Probable(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    api_secret=\"YOUR_API_SECRET\",\n    passphrase=\"YOUR_PASSPHRASE\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_events_paginated(\n    limit=10,\n    cursor=\"abc123\",\n    filter=\"value\",\n)"
          },
          {
            "lang": "python",
            "label": "Baozi",
            "source": "import pmxt\n\nexchange = pmxt.Baozi(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_events_paginated(\n    limit=10,\n    cursor=\"abc123\",\n    filter=\"value\",\n)"
          },
          {
            "lang": "python",
            "label": "Myriad",
            "source": "import pmxt\n\nexchange = pmxt.Myriad(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    wallet_address=\"YOUR_WALLET_ADDRESS\",\n)\nresult = exchange.fetch_events_paginated(\n    limit=10,\n    cursor=\"abc123\",\n    filter=\"value\",\n)"
          },
          {
            "lang": "python",
            "label": "Opinion",
            "source": "import pmxt\n\nexchange = pmxt.Opinion(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n    proxy_address=\"YOUR_PROXY_ADDRESS\",\n)\nresult = exchange.fetch_events_paginated(\n    limit=10,\n    cursor=\"abc123\",\n    filter=\"value\",\n)"
          },
          {
            "lang": "python",
            "label": "Metaculus",
            "source": "import pmxt\n\nexchange = pmxt.Metaculus(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_token=\"YOUR_API_TOKEN\",\n)\nresult = exchange.fetch_events_paginated(\n    limit=10,\n    cursor=\"abc123\",\n    filter=\"value\",\n)"
          },
          {
            "lang": "python",
            "label": "Smarkets",
            "source": "import pmxt\n\nexchange = pmxt.Smarkets(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_events_paginated(\n    limit=10,\n    cursor=\"abc123\",\n    filter=\"value\",\n)"
          },
          {
            "lang": "python",
            "label": "PolymarketUs",
            "source": "import pmxt\n\nexchange = pmxt.PolymarketUs(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_events_paginated(\n    limit=10,\n    cursor=\"abc123\",\n    filter=\"value\",\n)"
          },
          {
            "lang": "python",
            "label": "Router",
            "source": "import pmxt\n\nexchange = pmxt.Router(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n)\nresult = exchange.fetch_events_paginated(\n    limit=10,\n    cursor=\"abc123\",\n    filter=\"value\",\n)"
          },
          {
            "lang": "javascript",
            "label": "Polymarket",
            "source": "import { Polymarket } from \"pmxtjs\";\n\nconst exchange = new Polymarket({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  apiSecret: \"YOUR_API_SECRET\",\n  passphrase: \"YOUR_PASSPHRASE\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n  proxyAddress: \"YOUR_PROXY_ADDRESS\",\n  signatureType: \"gnosis-safe\",\n});\nconst result = await exchange.fetchEventsPaginated({\n  limit: 10,\n  cursor: \"abc123\",\n  filter: \"value\",\n});"
          },
          {
            "lang": "javascript",
            "label": "Limitless",
            "source": "import { Limitless } from \"pmxtjs\";\n\nconst exchange = new Limitless({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  apiSecret: \"YOUR_API_SECRET\",\n  passphrase: \"YOUR_PASSPHRASE\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchEventsPaginated({\n  limit: 10,\n  cursor: \"abc123\",\n  filter: \"value\",\n});"
          },
          {
            "lang": "javascript",
            "label": "Kalshi",
            "source": "import { Kalshi } from \"pmxtjs\";\n\nconst exchange = new Kalshi({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchEventsPaginated({\n  limit: 10,\n  cursor: \"abc123\",\n  filter: \"value\",\n});"
          },
          {
            "lang": "javascript",
            "label": "KalshiDemo",
            "source": "import { KalshiDemo } from \"pmxtjs\";\n\nconst exchange = new KalshiDemo({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchEventsPaginated({\n  limit: 10,\n  cursor: \"abc123\",\n  filter: \"value\",\n});"
          },
          {
            "lang": "javascript",
            "label": "Probable",
            "source": "import { Probable } from \"pmxtjs\";\n\nconst exchange = new Probable({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  apiSecret: \"YOUR_API_SECRET\",\n  passphrase: \"YOUR_PASSPHRASE\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchEventsPaginated({\n  limit: 10,\n  cursor: \"abc123\",\n  filter: \"value\",\n});"
          },
          {
            "lang": "javascript",
            "label": "Baozi",
            "source": "import { Baozi } from \"pmxtjs\";\n\nconst exchange = new Baozi({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchEventsPaginated({\n  limit: 10,\n  cursor: \"abc123\",\n  filter: \"value\",\n});"
          },
          {
            "lang": "javascript",
            "label": "Myriad",
            "source": "import { Myriad } from \"pmxtjs\";\n\nconst exchange = new Myriad({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  walletAddress: \"YOUR_WALLET_ADDRESS\",\n});\nconst result = await exchange.fetchEventsPaginated({\n  limit: 10,\n  cursor: \"abc123\",\n  filter: \"value\",\n});"
          },
          {
            "lang": "javascript",
            "label": "Opinion",
            "source": "import { Opinion } from \"pmxtjs\";\n\nconst exchange = new Opinion({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n  proxyAddress: \"YOUR_PROXY_ADDRESS\",\n});\nconst result = await exchange.fetchEventsPaginated({\n  limit: 10,\n  cursor: \"abc123\",\n  filter: \"value\",\n});"
          },
          {
            "lang": "javascript",
            "label": "Metaculus",
            "source": "import { Metaculus } from \"pmxtjs\";\n\nconst exchange = new Metaculus({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiToken: \"YOUR_API_TOKEN\",\n});\nconst result = await exchange.fetchEventsPaginated({\n  limit: 10,\n  cursor: \"abc123\",\n  filter: \"value\",\n});"
          },
          {
            "lang": "javascript",
            "label": "Smarkets",
            "source": "import { Smarkets } from \"pmxtjs\";\n\nconst exchange = new Smarkets({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchEventsPaginated({\n  limit: 10,\n  cursor: \"abc123\",\n  filter: \"value\",\n});"
          },
          {
            "lang": "javascript",
            "label": "PolymarketUs",
            "source": "import { PolymarketUs } from \"pmxtjs\";\n\nconst exchange = new PolymarketUs({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchEventsPaginated({\n  limit: 10,\n  cursor: \"abc123\",\n  filter: \"value\",\n});"
          },
          {
            "lang": "javascript",
            "label": "Router",
            "source": "import { Router } from \"pmxtjs\";\n\nconst exchange = new Router({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n});\nconst result = await exchange.fetchEventsPaginated({\n  limit: 10,\n  cursor: \"abc123\",\n  filter: \"value\",\n});"
          }
        ]
      }
    },
    "/api/{exchange}/fetchEvents": {
      "get": {
        "summary": "Fetch Events",
        "operationId": "fetchEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/ExchangeParam"
          },
          {
            "in": "query",
            "name": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "For keyword search"
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Maximum number of results to return"
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Pagination offset — number of results to skip"
          },
          {
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "volume",
                "liquidity",
                "newest"
              ]
            },
            "description": "Sort order for results"
          },
          {
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive",
                "closed",
                "all"
              ]
            },
            "description": "Filter by event status (default: 'active', 'inactive' and 'closed' are interchangeable)"
          },
          {
            "in": "query",
            "name": "searchIn",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "title",
                "description",
                "both"
              ]
            },
            "description": "Where to search (default: 'title')"
          },
          {
            "in": "query",
            "name": "eventId",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Direct lookup by event ID"
          },
          {
            "in": "query",
            "name": "slug",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Lookup by event slug"
          },
          {
            "in": "query",
            "name": "filter",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/EventFilterCriteria"
                }
              ]
            },
            "description": "Optional client-side filter applied after fetching"
          },
          {
            "in": "query",
            "name": "category",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Shorthand for filter.category -- merged into filter (takes precedence)"
          },
          {
            "in": "query",
            "name": "tags",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Shorthand for filter.tags -- merged into filter (takes precedence)"
          }
        ],
        "responses": {
          "200": {
            "description": "Fetch Events response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/UnifiedEvent"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Fetch events with optional keyword search. Events group related markets together (e.g., \"Who will be Fed Chair?\" contains multiple candidate markets).",
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Polymarket",
            "source": "import pmxt\n\nexchange = pmxt.Polymarket(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    api_secret=\"YOUR_API_SECRET\",\n    passphrase=\"YOUR_PASSPHRASE\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n    proxy_address=\"YOUR_PROXY_ADDRESS\",\n    signature_type=\"gnosis-safe\",\n)\nresult = exchange.fetch_events(\n    query=\"election\",\n    limit=10,\n    offset=0,\n    sort=\"volume\",\n    status=\"active\",\n    search_in=\"title\",\n    event_id=\"12345\",\n    slug=\"BTC-USD\",\n    filter=\"value\",\n    category=\"value\",\n    tags=[],\n)"
          },
          {
            "lang": "python",
            "label": "Limitless",
            "source": "import pmxt\n\nexchange = pmxt.Limitless(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    api_secret=\"YOUR_API_SECRET\",\n    passphrase=\"YOUR_PASSPHRASE\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_events(\n    query=\"election\",\n    limit=10,\n    offset=0,\n    sort=\"volume\",\n    status=\"active\",\n    search_in=\"title\",\n    event_id=\"12345\",\n    slug=\"BTC-USD\",\n    filter=\"value\",\n    category=\"value\",\n    tags=[],\n)"
          },
          {
            "lang": "python",
            "label": "Kalshi",
            "source": "import pmxt\n\nexchange = pmxt.Kalshi(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_events(\n    query=\"election\",\n    limit=10,\n    offset=0,\n    sort=\"volume\",\n    status=\"active\",\n    search_in=\"title\",\n    event_id=\"12345\",\n    slug=\"BTC-USD\",\n    filter=\"value\",\n    category=\"value\",\n    tags=[],\n)"
          },
          {
            "lang": "python",
            "label": "KalshiDemo",
            "source": "import pmxt\n\nexchange = pmxt.KalshiDemo(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_events(\n    query=\"election\",\n    limit=10,\n    offset=0,\n    sort=\"volume\",\n    status=\"active\",\n    search_in=\"title\",\n    event_id=\"12345\",\n    slug=\"BTC-USD\",\n    filter=\"value\",\n    category=\"value\",\n    tags=[],\n)"
          },
          {
            "lang": "python",
            "label": "Probable",
            "source": "import pmxt\n\nexchange = pmxt.Probable(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    api_secret=\"YOUR_API_SECRET\",\n    passphrase=\"YOUR_PASSPHRASE\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_events(\n    query=\"election\",\n    limit=10,\n    offset=0,\n    sort=\"volume\",\n    status=\"active\",\n    search_in=\"title\",\n    event_id=\"12345\",\n    slug=\"BTC-USD\",\n    filter=\"value\",\n    category=\"value\",\n    tags=[],\n)"
          },
          {
            "lang": "python",
            "label": "Baozi",
            "source": "import pmxt\n\nexchange = pmxt.Baozi(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_events(\n    query=\"election\",\n    limit=10,\n    offset=0,\n    sort=\"volume\",\n    status=\"active\",\n    search_in=\"title\",\n    event_id=\"12345\",\n    slug=\"BTC-USD\",\n    filter=\"value\",\n    category=\"value\",\n    tags=[],\n)"
          },
          {
            "lang": "python",
            "label": "Myriad",
            "source": "import pmxt\n\nexchange = pmxt.Myriad(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    wallet_address=\"YOUR_WALLET_ADDRESS\",\n)\nresult = exchange.fetch_events(\n    query=\"election\",\n    limit=10,\n    offset=0,\n    sort=\"volume\",\n    status=\"active\",\n    search_in=\"title\",\n    event_id=\"12345\",\n    slug=\"BTC-USD\",\n    filter=\"value\",\n    category=\"value\",\n    tags=[],\n)"
          },
          {
            "lang": "python",
            "label": "Opinion",
            "source": "import pmxt\n\nexchange = pmxt.Opinion(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n    proxy_address=\"YOUR_PROXY_ADDRESS\",\n)\nresult = exchange.fetch_events(\n    query=\"election\",\n    limit=10,\n    offset=0,\n    sort=\"volume\",\n    status=\"active\",\n    search_in=\"title\",\n    event_id=\"12345\",\n    slug=\"BTC-USD\",\n    filter=\"value\",\n    category=\"value\",\n    tags=[],\n)"
          },
          {
            "lang": "python",
            "label": "Metaculus",
            "source": "import pmxt\n\nexchange = pmxt.Metaculus(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_token=\"YOUR_API_TOKEN\",\n)\nresult = exchange.fetch_events(\n    query=\"election\",\n    limit=10,\n    offset=0,\n    sort=\"volume\",\n    status=\"active\",\n    search_in=\"title\",\n    event_id=\"12345\",\n    slug=\"BTC-USD\",\n    filter=\"value\",\n    category=\"value\",\n    tags=[],\n)"
          },
          {
            "lang": "python",
            "label": "Smarkets",
            "source": "import pmxt\n\nexchange = pmxt.Smarkets(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_events(\n    query=\"election\",\n    limit=10,\n    offset=0,\n    sort=\"volume\",\n    status=\"active\",\n    search_in=\"title\",\n    event_id=\"12345\",\n    slug=\"BTC-USD\",\n    filter=\"value\",\n    category=\"value\",\n    tags=[],\n)"
          },
          {
            "lang": "python",
            "label": "PolymarketUs",
            "source": "import pmxt\n\nexchange = pmxt.PolymarketUs(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_events(\n    query=\"election\",\n    limit=10,\n    offset=0,\n    sort=\"volume\",\n    status=\"active\",\n    search_in=\"title\",\n    event_id=\"12345\",\n    slug=\"BTC-USD\",\n    filter=\"value\",\n    category=\"value\",\n    tags=[],\n)"
          },
          {
            "lang": "python",
            "label": "Router",
            "source": "import pmxt\n\nexchange = pmxt.Router(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n)\nresult = exchange.fetch_events(\n    query=\"election\",\n    limit=10,\n    offset=0,\n    sort=\"volume\",\n    status=\"active\",\n    search_in=\"title\",\n    event_id=\"12345\",\n    slug=\"BTC-USD\",\n    filter=\"value\",\n    category=\"value\",\n    tags=[],\n)"
          },
          {
            "lang": "javascript",
            "label": "Polymarket",
            "source": "import { Polymarket } from \"pmxtjs\";\n\nconst exchange = new Polymarket({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  apiSecret: \"YOUR_API_SECRET\",\n  passphrase: \"YOUR_PASSPHRASE\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n  proxyAddress: \"YOUR_PROXY_ADDRESS\",\n  signatureType: \"gnosis-safe\",\n});\nconst result = await exchange.fetchEvents({\n  query: \"election\",\n  limit: 10,\n  offset: 0,\n  sort: \"volume\",\n  status: \"active\",\n  searchIn: \"title\",\n  eventId: \"12345\",\n  slug: \"BTC-USD\",\n  filter: \"value\",\n  category: \"value\",\n  tags: [],\n});"
          },
          {
            "lang": "javascript",
            "label": "Limitless",
            "source": "import { Limitless } from \"pmxtjs\";\n\nconst exchange = new Limitless({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  apiSecret: \"YOUR_API_SECRET\",\n  passphrase: \"YOUR_PASSPHRASE\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchEvents({\n  query: \"election\",\n  limit: 10,\n  offset: 0,\n  sort: \"volume\",\n  status: \"active\",\n  searchIn: \"title\",\n  eventId: \"12345\",\n  slug: \"BTC-USD\",\n  filter: \"value\",\n  category: \"value\",\n  tags: [],\n});"
          },
          {
            "lang": "javascript",
            "label": "Kalshi",
            "source": "import { Kalshi } from \"pmxtjs\";\n\nconst exchange = new Kalshi({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchEvents({\n  query: \"election\",\n  limit: 10,\n  offset: 0,\n  sort: \"volume\",\n  status: \"active\",\n  searchIn: \"title\",\n  eventId: \"12345\",\n  slug: \"BTC-USD\",\n  filter: \"value\",\n  category: \"value\",\n  tags: [],\n});"
          },
          {
            "lang": "javascript",
            "label": "KalshiDemo",
            "source": "import { KalshiDemo } from \"pmxtjs\";\n\nconst exchange = new KalshiDemo({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchEvents({\n  query: \"election\",\n  limit: 10,\n  offset: 0,\n  sort: \"volume\",\n  status: \"active\",\n  searchIn: \"title\",\n  eventId: \"12345\",\n  slug: \"BTC-USD\",\n  filter: \"value\",\n  category: \"value\",\n  tags: [],\n});"
          },
          {
            "lang": "javascript",
            "label": "Probable",
            "source": "import { Probable } from \"pmxtjs\";\n\nconst exchange = new Probable({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  apiSecret: \"YOUR_API_SECRET\",\n  passphrase: \"YOUR_PASSPHRASE\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchEvents({\n  query: \"election\",\n  limit: 10,\n  offset: 0,\n  sort: \"volume\",\n  status: \"active\",\n  searchIn: \"title\",\n  eventId: \"12345\",\n  slug: \"BTC-USD\",\n  filter: \"value\",\n  category: \"value\",\n  tags: [],\n});"
          },
          {
            "lang": "javascript",
            "label": "Baozi",
            "source": "import { Baozi } from \"pmxtjs\";\n\nconst exchange = new Baozi({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchEvents({\n  query: \"election\",\n  limit: 10,\n  offset: 0,\n  sort: \"volume\",\n  status: \"active\",\n  searchIn: \"title\",\n  eventId: \"12345\",\n  slug: \"BTC-USD\",\n  filter: \"value\",\n  category: \"value\",\n  tags: [],\n});"
          },
          {
            "lang": "javascript",
            "label": "Myriad",
            "source": "import { Myriad } from \"pmxtjs\";\n\nconst exchange = new Myriad({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  walletAddress: \"YOUR_WALLET_ADDRESS\",\n});\nconst result = await exchange.fetchEvents({\n  query: \"election\",\n  limit: 10,\n  offset: 0,\n  sort: \"volume\",\n  status: \"active\",\n  searchIn: \"title\",\n  eventId: \"12345\",\n  slug: \"BTC-USD\",\n  filter: \"value\",\n  category: \"value\",\n  tags: [],\n});"
          },
          {
            "lang": "javascript",
            "label": "Opinion",
            "source": "import { Opinion } from \"pmxtjs\";\n\nconst exchange = new Opinion({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n  proxyAddress: \"YOUR_PROXY_ADDRESS\",\n});\nconst result = await exchange.fetchEvents({\n  query: \"election\",\n  limit: 10,\n  offset: 0,\n  sort: \"volume\",\n  status: \"active\",\n  searchIn: \"title\",\n  eventId: \"12345\",\n  slug: \"BTC-USD\",\n  filter: \"value\",\n  category: \"value\",\n  tags: [],\n});"
          },
          {
            "lang": "javascript",
            "label": "Metaculus",
            "source": "import { Metaculus } from \"pmxtjs\";\n\nconst exchange = new Metaculus({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiToken: \"YOUR_API_TOKEN\",\n});\nconst result = await exchange.fetchEvents({\n  query: \"election\",\n  limit: 10,\n  offset: 0,\n  sort: \"volume\",\n  status: \"active\",\n  searchIn: \"title\",\n  eventId: \"12345\",\n  slug: \"BTC-USD\",\n  filter: \"value\",\n  category: \"value\",\n  tags: [],\n});"
          },
          {
            "lang": "javascript",
            "label": "Smarkets",
            "source": "import { Smarkets } from \"pmxtjs\";\n\nconst exchange = new Smarkets({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchEvents({\n  query: \"election\",\n  limit: 10,\n  offset: 0,\n  sort: \"volume\",\n  status: \"active\",\n  searchIn: \"title\",\n  eventId: \"12345\",\n  slug: \"BTC-USD\",\n  filter: \"value\",\n  category: \"value\",\n  tags: [],\n});"
          },
          {
            "lang": "javascript",
            "label": "PolymarketUs",
            "source": "import { PolymarketUs } from \"pmxtjs\";\n\nconst exchange = new PolymarketUs({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchEvents({\n  query: \"election\",\n  limit: 10,\n  offset: 0,\n  sort: \"volume\",\n  status: \"active\",\n  searchIn: \"title\",\n  eventId: \"12345\",\n  slug: \"BTC-USD\",\n  filter: \"value\",\n  category: \"value\",\n  tags: [],\n});"
          },
          {
            "lang": "javascript",
            "label": "Router",
            "source": "import { Router } from \"pmxtjs\";\n\nconst exchange = new Router({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n});\nconst result = await exchange.fetchEvents({\n  query: \"election\",\n  limit: 10,\n  offset: 0,\n  sort: \"volume\",\n  status: \"active\",\n  searchIn: \"title\",\n  eventId: \"12345\",\n  slug: \"BTC-USD\",\n  filter: \"value\",\n  category: \"value\",\n  tags: [],\n});"
          }
        ]
      }
    },
    "/api/{exchange}/fetchMarket": {
      "get": {
        "summary": "Fetch Market",
        "operationId": "fetchMarket",
        "parameters": [
          {
            "$ref": "#/components/parameters/ExchangeParam"
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Maximum number of results to return"
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Pagination offset — number of results to skip"
          },
          {
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "volume",
                "liquidity",
                "newest"
              ]
            },
            "description": "Sort order for results"
          },
          {
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive",
                "closed",
                "all"
              ]
            },
            "description": "Filter by market status (default: 'active', 'inactive' and 'closed' are interchangeable)"
          },
          {
            "in": "query",
            "name": "searchIn",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "title",
                "description",
                "both"
              ]
            },
            "description": "Where to search (default: 'title')"
          },
          {
            "in": "query",
            "name": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "For keyword search"
          },
          {
            "in": "query",
            "name": "slug",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "For slug/ticker lookup"
          },
          {
            "in": "query",
            "name": "marketId",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Direct lookup by market ID"
          },
          {
            "in": "query",
            "name": "outcomeId",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Reverse lookup -- find market containing this outcome"
          },
          {
            "in": "query",
            "name": "eventId",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Find markets belonging to an event"
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "For pagination (used by Limitless)"
          },
          {
            "in": "query",
            "name": "similarityThreshold",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "For semantic search (used by Limitless)"
          }
        ],
        "responses": {
          "200": {
            "description": "Fetch Market response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/UnifiedMarket"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Fetch a single market by lookup parameters. Convenience wrapper around fetchMarkets() that returns a single result or throws MarketNotFound.",
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Polymarket",
            "source": "import pmxt\n\nexchange = pmxt.Polymarket(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    api_secret=\"YOUR_API_SECRET\",\n    passphrase=\"YOUR_PASSPHRASE\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n    proxy_address=\"YOUR_PROXY_ADDRESS\",\n    signature_type=\"gnosis-safe\",\n)\nresult = exchange.fetch_market(market_id=\"12345\")"
          },
          {
            "lang": "python",
            "label": "Limitless",
            "source": "import pmxt\n\nexchange = pmxt.Limitless(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    api_secret=\"YOUR_API_SECRET\",\n    passphrase=\"YOUR_PASSPHRASE\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_market(market_id=\"12345\")"
          },
          {
            "lang": "python",
            "label": "Kalshi",
            "source": "import pmxt\n\nexchange = pmxt.Kalshi(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_market(market_id=\"12345\")"
          },
          {
            "lang": "python",
            "label": "KalshiDemo",
            "source": "import pmxt\n\nexchange = pmxt.KalshiDemo(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_market(market_id=\"12345\")"
          },
          {
            "lang": "python",
            "label": "Probable",
            "source": "import pmxt\n\nexchange = pmxt.Probable(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    api_secret=\"YOUR_API_SECRET\",\n    passphrase=\"YOUR_PASSPHRASE\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_market(market_id=\"12345\")"
          },
          {
            "lang": "python",
            "label": "Baozi",
            "source": "import pmxt\n\nexchange = pmxt.Baozi(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_market(market_id=\"12345\")"
          },
          {
            "lang": "python",
            "label": "Myriad",
            "source": "import pmxt\n\nexchange = pmxt.Myriad(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    wallet_address=\"YOUR_WALLET_ADDRESS\",\n)\nresult = exchange.fetch_market(market_id=\"12345\")"
          },
          {
            "lang": "python",
            "label": "Opinion",
            "source": "import pmxt\n\nexchange = pmxt.Opinion(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n    proxy_address=\"YOUR_PROXY_ADDRESS\",\n)\nresult = exchange.fetch_market(market_id=\"12345\")"
          },
          {
            "lang": "python",
            "label": "Metaculus",
            "source": "import pmxt\n\nexchange = pmxt.Metaculus(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_token=\"YOUR_API_TOKEN\",\n)\nresult = exchange.fetch_market(market_id=\"12345\")"
          },
          {
            "lang": "python",
            "label": "Smarkets",
            "source": "import pmxt\n\nexchange = pmxt.Smarkets(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_market(market_id=\"12345\")"
          },
          {
            "lang": "python",
            "label": "PolymarketUs",
            "source": "import pmxt\n\nexchange = pmxt.PolymarketUs(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_market(market_id=\"12345\")"
          },
          {
            "lang": "python",
            "label": "Router",
            "source": "import pmxt\n\nexchange = pmxt.Router(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n)\nresult = exchange.fetch_market(market_id=\"12345\")"
          },
          {
            "lang": "javascript",
            "label": "Polymarket",
            "source": "import { Polymarket } from \"pmxtjs\";\n\nconst exchange = new Polymarket({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  apiSecret: \"YOUR_API_SECRET\",\n  passphrase: \"YOUR_PASSPHRASE\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n  proxyAddress: \"YOUR_PROXY_ADDRESS\",\n  signatureType: \"gnosis-safe\",\n});\nconst result = await exchange.fetchMarket({ marketId: \"12345\" });"
          },
          {
            "lang": "javascript",
            "label": "Limitless",
            "source": "import { Limitless } from \"pmxtjs\";\n\nconst exchange = new Limitless({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  apiSecret: \"YOUR_API_SECRET\",\n  passphrase: \"YOUR_PASSPHRASE\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchMarket({ marketId: \"12345\" });"
          },
          {
            "lang": "javascript",
            "label": "Kalshi",
            "source": "import { Kalshi } from \"pmxtjs\";\n\nconst exchange = new Kalshi({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchMarket({ marketId: \"12345\" });"
          },
          {
            "lang": "javascript",
            "label": "KalshiDemo",
            "source": "import { KalshiDemo } from \"pmxtjs\";\n\nconst exchange = new KalshiDemo({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchMarket({ marketId: \"12345\" });"
          },
          {
            "lang": "javascript",
            "label": "Probable",
            "source": "import { Probable } from \"pmxtjs\";\n\nconst exchange = new Probable({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  apiSecret: \"YOUR_API_SECRET\",\n  passphrase: \"YOUR_PASSPHRASE\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchMarket({ marketId: \"12345\" });"
          },
          {
            "lang": "javascript",
            "label": "Baozi",
            "source": "import { Baozi } from \"pmxtjs\";\n\nconst exchange = new Baozi({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchMarket({ marketId: \"12345\" });"
          },
          {
            "lang": "javascript",
            "label": "Myriad",
            "source": "import { Myriad } from \"pmxtjs\";\n\nconst exchange = new Myriad({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  walletAddress: \"YOUR_WALLET_ADDRESS\",\n});\nconst result = await exchange.fetchMarket({ marketId: \"12345\" });"
          },
          {
            "lang": "javascript",
            "label": "Opinion",
            "source": "import { Opinion } from \"pmxtjs\";\n\nconst exchange = new Opinion({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n  proxyAddress: \"YOUR_PROXY_ADDRESS\",\n});\nconst result = await exchange.fetchMarket({ marketId: \"12345\" });"
          },
          {
            "lang": "javascript",
            "label": "Metaculus",
            "source": "import { Metaculus } from \"pmxtjs\";\n\nconst exchange = new Metaculus({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiToken: \"YOUR_API_TOKEN\",\n});\nconst result = await exchange.fetchMarket({ marketId: \"12345\" });"
          },
          {
            "lang": "javascript",
            "label": "Smarkets",
            "source": "import { Smarkets } from \"pmxtjs\";\n\nconst exchange = new Smarkets({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchMarket({ marketId: \"12345\" });"
          },
          {
            "lang": "javascript",
            "label": "PolymarketUs",
            "source": "import { PolymarketUs } from \"pmxtjs\";\n\nconst exchange = new PolymarketUs({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchMarket({ marketId: \"12345\" });"
          },
          {
            "lang": "javascript",
            "label": "Router",
            "source": "import { Router } from \"pmxtjs\";\n\nconst exchange = new Router({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n});\nconst result = await exchange.fetchMarket({ marketId: \"12345\" });"
          }
        ]
      }
    },
    "/api/{exchange}/fetchEvent": {
      "get": {
        "summary": "Fetch Event",
        "operationId": "fetchEvent",
        "parameters": [
          {
            "$ref": "#/components/parameters/ExchangeParam"
          },
          {
            "in": "query",
            "name": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "For keyword search"
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Maximum number of results to return"
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Pagination offset — number of results to skip"
          },
          {
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "volume",
                "liquidity",
                "newest"
              ]
            },
            "description": "Sort order for results"
          },
          {
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive",
                "closed",
                "all"
              ]
            },
            "description": "Filter by event status (default: 'active', 'inactive' and 'closed' are interchangeable)"
          },
          {
            "in": "query",
            "name": "searchIn",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "title",
                "description",
                "both"
              ]
            },
            "description": "Where to search (default: 'title')"
          },
          {
            "in": "query",
            "name": "eventId",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Direct lookup by event ID"
          },
          {
            "in": "query",
            "name": "slug",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Lookup by event slug"
          },
          {
            "in": "query",
            "name": "filter",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/EventFilterCriteria"
                }
              ]
            },
            "description": "Optional client-side filter applied after fetching"
          },
          {
            "in": "query",
            "name": "category",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Shorthand for filter.category -- merged into filter (takes precedence)"
          },
          {
            "in": "query",
            "name": "tags",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Shorthand for filter.tags -- merged into filter (takes precedence)"
          }
        ],
        "responses": {
          "200": {
            "description": "Fetch Event response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/UnifiedEvent"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Fetch a single event by lookup parameters. Convenience wrapper around fetchEvents() that returns a single result or throws EventNotFound.",
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Polymarket",
            "source": "import pmxt\n\nexchange = pmxt.Polymarket(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    api_secret=\"YOUR_API_SECRET\",\n    passphrase=\"YOUR_PASSPHRASE\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n    proxy_address=\"YOUR_PROXY_ADDRESS\",\n    signature_type=\"gnosis-safe\",\n)\nresult = exchange.fetch_event(event_id=\"12345\")"
          },
          {
            "lang": "python",
            "label": "Limitless",
            "source": "import pmxt\n\nexchange = pmxt.Limitless(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    api_secret=\"YOUR_API_SECRET\",\n    passphrase=\"YOUR_PASSPHRASE\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_event(event_id=\"12345\")"
          },
          {
            "lang": "python",
            "label": "Kalshi",
            "source": "import pmxt\n\nexchange = pmxt.Kalshi(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_event(event_id=\"12345\")"
          },
          {
            "lang": "python",
            "label": "KalshiDemo",
            "source": "import pmxt\n\nexchange = pmxt.KalshiDemo(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_event(event_id=\"12345\")"
          },
          {
            "lang": "python",
            "label": "Probable",
            "source": "import pmxt\n\nexchange = pmxt.Probable(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    api_secret=\"YOUR_API_SECRET\",\n    passphrase=\"YOUR_PASSPHRASE\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_event(event_id=\"12345\")"
          },
          {
            "lang": "python",
            "label": "Baozi",
            "source": "import pmxt\n\nexchange = pmxt.Baozi(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_event(event_id=\"12345\")"
          },
          {
            "lang": "python",
            "label": "Myriad",
            "source": "import pmxt\n\nexchange = pmxt.Myriad(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    wallet_address=\"YOUR_WALLET_ADDRESS\",\n)\nresult = exchange.fetch_event(event_id=\"12345\")"
          },
          {
            "lang": "python",
            "label": "Opinion",
            "source": "import pmxt\n\nexchange = pmxt.Opinion(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n    proxy_address=\"YOUR_PROXY_ADDRESS\",\n)\nresult = exchange.fetch_event(event_id=\"12345\")"
          },
          {
            "lang": "python",
            "label": "Metaculus",
            "source": "import pmxt\n\nexchange = pmxt.Metaculus(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_token=\"YOUR_API_TOKEN\",\n)\nresult = exchange.fetch_event(event_id=\"12345\")"
          },
          {
            "lang": "python",
            "label": "Smarkets",
            "source": "import pmxt\n\nexchange = pmxt.Smarkets(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_event(event_id=\"12345\")"
          },
          {
            "lang": "python",
            "label": "PolymarketUs",
            "source": "import pmxt\n\nexchange = pmxt.PolymarketUs(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n    api_key=\"YOUR_API_KEY\",\n    private_key=\"YOUR_PRIVATE_KEY\",\n)\nresult = exchange.fetch_event(event_id=\"12345\")"
          },
          {
            "lang": "python",
            "label": "Router",
            "source": "import pmxt\n\nexchange = pmxt.Router(\n    pmxt_api_key=\"YOUR_PMXT_API_KEY\",\n)\nresult = exchange.fetch_event(event_id=\"12345\")"
          },
          {
            "lang": "javascript",
            "label": "Polymarket",
            "source": "import { Polymarket } from \"pmxtjs\";\n\nconst exchange = new Polymarket({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  apiSecret: \"YOUR_API_SECRET\",\n  passphrase: \"YOUR_PASSPHRASE\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n  proxyAddress: \"YOUR_PROXY_ADDRESS\",\n  signatureType: \"gnosis-safe\",\n});\nconst result = await exchange.fetchEvent({ eventId: \"12345\" });"
          },
          {
            "lang": "javascript",
            "label": "Limitless",
            "source": "import { Limitless } from \"pmxtjs\";\n\nconst exchange = new Limitless({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  apiSecret: \"YOUR_API_SECRET\",\n  passphrase: \"YOUR_PASSPHRASE\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchEvent({ eventId: \"12345\" });"
          },
          {
            "lang": "javascript",
            "label": "Kalshi",
            "source": "import { Kalshi } from \"pmxtjs\";\n\nconst exchange = new Kalshi({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchEvent({ eventId: \"12345\" });"
          },
          {
            "lang": "javascript",
            "label": "KalshiDemo",
            "source": "import { KalshiDemo } from \"pmxtjs\";\n\nconst exchange = new KalshiDemo({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchEvent({ eventId: \"12345\" });"
          },
          {
            "lang": "javascript",
            "label": "Probable",
            "source": "import { Probable } from \"pmxtjs\";\n\nconst exchange = new Probable({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  apiSecret: \"YOUR_API_SECRET\",\n  passphrase: \"YOUR_PASSPHRASE\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchEvent({ eventId: \"12345\" });"
          },
          {
            "lang": "javascript",
            "label": "Baozi",
            "source": "import { Baozi } from \"pmxtjs\";\n\nconst exchange = new Baozi({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchEvent({ eventId: \"12345\" });"
          },
          {
            "lang": "javascript",
            "label": "Myriad",
            "source": "import { Myriad } from \"pmxtjs\";\n\nconst exchange = new Myriad({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  walletAddress: \"YOUR_WALLET_ADDRESS\",\n});\nconst result = await exchange.fetchEvent({ eventId: \"12345\" });"
          },
          {
            "lang": "javascript",
            "label": "Opinion",
            "source": "import { Opinion } from \"pmxtjs\";\n\nconst exchange = new Opinion({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n  proxyAddress: \"YOUR_PROXY_ADDRESS\",\n});\nconst result = await exchange.fetchEvent({ eventId: \"12345\" });"
          },
          {
            "lang": "javascript",
            "label": "Metaculus",
            "source": "import { Metaculus } from \"pmxtjs\";\n\nconst exchange = new Metaculus({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiToken: \"YOUR_API_TOKEN\",\n});\nconst result = await exchange.fetchEvent({ eventId: \"12345\" });"
          },
          {
            "lang": "javascript",
            "label": "Smarkets",
            "source": "import { Smarkets } from \"pmxtjs\";\n\nconst exchange = new Smarkets({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchEvent({ eventId: \"12345\" });"
          },
          {
            "lang": "javascript",
            "label": "PolymarketUs",
            "source": "import { PolymarketUs } from \"pmxtjs\";\n\nconst exchange = new PolymarketUs({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n  apiKey: \"YOUR_API_KEY\",\n  privateKey: \"YOUR_PRIVATE_KEY\",\n});\nconst result = await exchange.fetchEvent({ eventId: \"12345\" });"
          },
          {
            "lang": "javascript",
            "label": "Router",
            "source": "import { Router } from \"pmxtjs\";\n\nconst exchange = new Router({\n  pmxtApiKey: \"YOUR_PMXT_API_KEY\",\n});\nconst result = await exchange.fetchEvent({ eventId: \"12345\" });"
          }
        ]
      }
    },
    "/api/{exchange}/fetchOHLCV": {
      "get": {
        "summary": "Fetch OHLCV",
        "operationId": "fetchOHLCV",
        "parameters": [
          {
            "$ref": "#/components/parameters/ExchangeParam"
          },
          {
            "in": "query",
            "name": "id",
[...]
